* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

/*---------------------------------
          HEADER STYLES
---------------------------------*/

header {
  height: 20vh;

}

.upper-header {
	height: 10vh;
}

/*------navigation--------*/

nav {
  width: 25vw;
  background-color: darkblue;
  margin: 0;
  position: relative;
}

nav ul {
  list-style: none;
}

.active li {
  display: none;
  
}


.responsive li a img {
  display: inline-block;
  float: left;
}

/*---------------------------------
          Media Queries
---------------------------------*/


@media screen and (min-width: 320px) {
	
/*-----toggle button-------*/

  .nav-toggle {
      display: none;
  }
  
  .active li a {
    display: block;
  }
  
}

