* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

/*---------------------------------
          HEADER STYLES
---------------------------------*/

header {
  height: 20vh;
  background-color: aqua;

}

.upper-header {
	height: 10vh;
	border: solid black 1px;
	display: flex;
}

/*------navigation--------*/




/*---------------------------------
          Media Queries
---------------------------------*/


media screen and (min-width: 320px) {
	
	/*-----toggle button-------*/
	.nav-toggle {
		display: none;
	}
	
}